<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <header class="edit-header">
    <div class="head">
      <div class="account">
        <%= link_to "アカウント", users_show_path %>
      </div>
      <div class="profile">
        <%= link_to 'プロフィール', edit_user_registration_path %>
      </div>
    </div>
  </header>
  <div class="background-edit">
    <div class="profile-area">
      <div class="profile-width">
        <div class="profile-title">
          <h2>プロフィール</h2>
        </div>
        <div class="edit-content">
          <div class="field">
            <%= f.label :image, "アイコン画像" %>
            <div class="input-icon">
              <%= f.file_field :image %>
            </div>
            <img src=<%= @user.image %> class = "icon_image_edit">
          </div>
        </div>
        <div class="edit-content">
          <div class="field">
            <%= f.label :name,"アカウント名" %>
            <div class="input">
              <%= f.text_field :name, autofocus: true %>
            </div>
          </div>
        </div>
        <div class="edit-content">
          <div class="field">
            <%= f.label :email %>
            <div class="input">
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
          </div>
        </div>
        <div class="edit-content profile-height">
          <div class="field">
            <%= f.label :profile %>
            <div class="input text-area">
              <%= f.text_area :profile, autofocus: true %>
            </div>
          </div>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        <div class="edit-content">
          <div class="field">
            <%= f.label :password %> <i>(変更がある場合のみ入力します)</i>
            <div class="input">
              <%= f.password_field :password, autocomplete: "new-password" %>
            </div>
            <div class="style-none">
              <% if @minimum_password_length %>
                <em><%= @minimum_password_length %></em>
              <% end %>
            </div>
          </div>
        </div>
        <div class="edit-content">
          <div class="field">
            <%= f.label :password_confirmation %><i>(変更がある場合のみ入力します)</i>
            <div class="input">
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>
          </div>
        </div>
        <div class="edit-content">
          <div class="field">
            <%= f.label :current_password %> <i>(現在のパスワードを入力します)</i>
            <div class="label-edit">
              <%= f.label :current_password ,"必須" %>
            </div>
            <div class="input">
              <%= f.password_field :current_password, autocomplete: "current-password" %>
            </div>
          </div>
        </div>
        <div class="actions button">
          <%= f.submit "更新" %>
        </div>
      </div>
      <% end %>
    </div>
    <div class="account-delete">
       <%= button_to "アカウントを消す", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
    </div>
    <div class="edit-back">
      <%= link_to "戻る", users_show_path %>
    </div>
  </div>